<?xml version="1.0"?>
<QuickConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <FirstRun>false</FirstRun>
  <QuickHotKey>Q</QuickHotKey>
  <QuickHotKeyFlags>2</QuickHotKeyFlags>
  <ContextMenuHotKey>Oem3</ContextMenuHotKey>
  <ContextMenuHotKeyFlags>2</ContextMenuHotKeyFlags>
  <ContextMenuToogle>true</ContextMenuToogle>
  <ModelName>
    <string>wps</string>
    <string>et</string>
    <string>wpp</string>
    <string>winword</string>
    <string>excel</string>
    <string>powerpnt</string>
  </ModelName>
  <ContextMenuList>
    <ContextMenuItem>
      <Name>用Google搜索</Name>
      <Exec>https://www.google.com/webhp?hl=zh-CN&amp;sourceid=cnhp&amp;gws_rd=ssl#newwindow=1&amp;safe=strict&amp;hl=zh-CN&amp;q={$1}</Exec>
      <Argument />
    </ContextMenuItem>
    <ContextMenuItem>
      <Name>用Baidu搜索</Name>
      <Exec>https://www.baidu.com/baidu?wd={$1}</Exec>
      <Argument />
    </ContextMenuItem>
    <ContextMenuItem>
      <Name>用Stackoverflow搜索</Name>
      <Exec>https://www.stackoverflow.com/search?q={$1}</Exec>
      <Argument/>
    </ContextMenuItem>
  </ContextMenuList>
  <CurrentVersion>1.1.0.0</CurrentVersion>
  <Plugins>
    <string>quickplugin.dll</string>
  </Plugins>
  <LockWindow>false</LockWindow>
</QuickConfig>